{% extends 'job_post/base.html' %}
{% load static %}
{% block content %}
{#<!--Register-->#}
{#<div class="container py-5">#}
{##}
{#    {% if messages %}#}
{#        <ul>#}
{#            {% for message in messages %}#}
{#                <li>{{ message }}</li>#}
{#                {% endfor %}#}
{#        </ul>#}
{#    {% endif %}#}
{##}
{#	<h1>Register</h1>#}
{#	<form method="POST" action="{% url 'register' %}">#}
{#		{% csrf_token %}#}
{#        {% if form.errors %}#}
{#        <p>ERRORS</p>#}
{#        {% endif %}#}
{#		{{ form.as_p }}#}
{#		<p><input type="submit" name="submit" value="{% url "register" %}"></p>#}
{#	</form>#}
{#	<p class="text-center">If you already have an account <a href="{% url "login" %}">login</a> instead</p>#}
{#</div>#}


<div class = "login">

<h1>as;dlkfja</h1>

<h1>{{ user }}</h1>

</div>

{% endblock content %}