{% extends 'job_post/base-reg.html' %}
{% load static %}
{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <div class="flex-lg-row">
        <div class="login-container">
            <div id="login-card">
                <img src="{% static 'images/logo-100.png' %}" alt="Logo">
                <h1 class="text-center login-title">Register</h1>
                <hr>
                <form method="post">
                    {% csrf_token %}
                    <div class="login-center">
                        <label for="id_username" class="sr-only">Email Address: </label>
                        <input type="text" name="username" id="id_username" class="form-control"
                               placeholder="Email Address..." size="15" required
                               autofocus>
                        <label for="id_password1" class="sr-only">Password: </label>
                        <input type="password" name="password1" id="id_password1" class="form-control"
                               placeholder="Password" required>
                        <label for="id_password2" class="sr-only">Password: </label>
                        <input type="password" name="password2" id="id_password2" class="form-control"
                               placeholder="Confirm Password" required>
                        <input class="btn btn-dark" type="submit" name="submit" value="Register"/>
                    </div>
                </form>
                <div>
                    <span>Already have an account?
                        <a href="{% url 'login' %}" class="text-center new-account">Login</a>
                    </span>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
